{% extends 'base.html' %}

{% block title %}
Contact Me
{% endblock title %}

{% block body %}

<h1 class="text-center m-2">Contact Me</h1>

<div class="container">

	<div class="row">

		<div class="col-6">
			<form method="POST" action="/contact">
				{% csrf_token %}
				<div class="m-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" name="name", placeholder="John Doe">
				</div>
				<div class="m-3">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="john@example.com" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">I'll never share your email with anyone else.</div>
				</div>
				<div class="m-3">
					<label for="message" class="form-label">Song Request / Any Text Message</label>
					<textarea class="form-control" id="message" name="message" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-primary mx-3">Submit</button>
			</form>
		</div>

		<div class="col-6">
			<!-- {{songs}} -->
			<!-- {{ post.name }} - {{ post.message }} - {{ post.date }} -->
			
			
			<div class="container">
				<div class="row my-3 py-2">
					{%  for post in songs %}
					<div class="col-4">
						<div class="card mb-3" style="max-width: 18rem;">
							<div class="card-header">{{ post.date }}</div>
							<div class="card-body">
								<h5 class="card-title">{{ post.name }}</h5>
								<hr>
								<p class="card-text">{{ post.message }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>

		{% if messages %}
		<div class="container w-50 text-center">
			<div class="messages alert alert-warning" role="alert">
				{% for message in messages %}
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}

		{% endblock body %}