{% extends 'base.html' %}

{% block title %}
	Sibasish Tripathyy
{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active ratio ratio-21x9">
					<iframe src="https://www.youtube.com/embed/xKfNjZ3PYQk" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="carousel-item ratio ratio-21x9">
					<iframe src="https://www.youtube.com/embed/_wXukhvfgRY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	</div>

{% endblock body %}