{% extends 'base.html' %}

{% block title %}
Submitted Successfully
{% endblock title %}

{% block body %}
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Thank you for taking some time to visit my website</h1>
		<p class="lead">The information has been successfully submitted</p>
		<hr class="my-4">
		<p>You can go back to the homepage using the link below.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/" role="button">Go to home page</a>
		</p>
	</div>
</div>
{% endblock %}